{%extends 'base.html'%}
{%block title%}Вопросы{%endblock title%}
{%block content%}
    {%for question in questions_list%}
    <div class = 'question'>
        <p>{{question.text}}</p><br>
    </div>
    {%endfor%}
    <form method = 'POST'>
        {%csrf_token%}
        {%for choice in choices_list%}
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">{{choice.text}}</label>
        </div>
        {%endfor%}
        <input type = 'submit' value="Следующий вопрос, пожалуйста">
    </form>
{%endblock content%}